<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>
<body>
<center><h1>注册公司</h1></center>
<hr/>
<center>
    <form name = 'new_company' action = 'AddCompany' method = 'post'>
            公司名称:<input type = 'text' name = 'name' /><br/>
            地址:<br/>
                <input type = 'text' name = 'province' />省
                <input type = 'text' name = 'city' />市
                <input type = 'text' name = 'area' />区
                <input type = 'text' name = 'address' />（详细地址）<br/>
            Email:<input type = 'text' name = 'email' /><br/>
            电话:<input type = 'text' name = 'telephone' /><br/>
            传真:<input type = 'text' name = 'fax' /><br/>
            网址:<input type = 'text' name = 'website' /><br/>
            <input type = 'submit' value = '提交' />
            <input type = 'reset' value = '重置' />
    </form>
</center>
<hr/>
</body>
</html>