<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--这里的{{title}}表示title这个变量的内容由服务器端产生并填写到该位置-->
    <title>{{title}}</title>
<body>
<table border = 1>
        <tr style = 'font-weight:bold' align = 'center'>
                <td width = '200' >公司</td>
                <td width = '100' >地址</td>
                <td width = '100' >邮箱</td>
                <td width = '100' >手机</td>
                <td width = '200' >电话</td>
                <td width = '200' >网址</td>
                <td width = '100' ></td>
                <td width = '100' ></td>
                <td width = '100' ></td>
        </tr>
        <!--users是一个由服务器端通过查询数据库而产生的列表，这里用for语句可以把用户信息全部输出-->
        {% for company in companys %}
        <tr align = 'center'>
                <!--user.user_name即是用户名。下同-->
                <td>{{ company.company_name }}</td>
                <td>{{ company.company_address }}</td>
                <td>{{ company.company_email }}</td>
                <td>{{ company.company_telephone }}</td>
                <td>{{ company.company_fax }}</td>
                <td>{{ company.company_website }}</td>
                <!--编辑链接，可以编辑指定用户名的信息-->
                <td><a href = 'EditCompany?company_name={{company.company_name}}' >编辑</a></td>
                <!--删除链接，可以删除指定用户名的信息-->
                <td><a href = 'DeleteCompany?company_name={{company.company_name}}' >删除</a></td>
                <!--Show company's detail info-->
                <td><a href = 'DetailCompany?company_name={{company.company_name}}' >详细</a></td>
        </tr>
        <!--for循环结束-->
        {% end %}
</table>
</center>
<a <a href = 'CreateCompany' >添加</a>
</body>
</html>  